* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #292929;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 400px;
    left: 0;
    width: 100%;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  color: #f9ad19;
}

h3 {
  color: white;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  top: 500px;
  left: 0;
  width: 100%;
}

hr {
  border: solid white 2px;
}

img {
  width: 100%;
  height: auto;
  opacity: 0.3;
}

.image-container {
  background-color: black;
}

/* Styling for the recipes on the index page */

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #D5D5D7;
  }
  
  .gallery-item {
    margin: 50px;
    position: relative;
  }
  
  .gallery-item img {
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 5px solid #EEA243;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
  }
  
  .gallery-item:hover img {
    opacity: 0.5;
    transform: scale(1.1);
  }
  
  .caption {
    position: absolute;
    width: 100%;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
  }

  /* Styling for recipe pages */

.recipe h2 {
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 45px;
    font-weight: bold;
}

.recipe {
    position: relative;
}
  
.recipe img {
    display: block;
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}

.recipe div {
    background-color: #f9ad19;
    padding: 10px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    color: white;
}

.recipe p {
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    color: black;
}

.recipe ul {
    text-align: justify;
    display: inline;
}

.recipe ol {
    text-align: justify;
    display: inline;
}

/* Flex Box Columns */

#flex-section {
  background-color: #292929;
  color: white;
}

.flex {
  display: flex;
  justify-content: center;
  width: 960px;
  max-width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #f9ad19;
  padding-left: 75px;
  padding-right: 50px;
  border-radius: 20px;
}

.flex .col {
  display: flex;
  flex-direction: column;
  flex: 1 300px;
  margin: 1em;
  align-self: flex-start;
}

.flex h4 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
    color: black;
    font-size: 25px;
}

.flex h5 {
  font-size: 18px;
  color: black;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}

li {
  padding: 10px ;
  color: black;
  font-size: 20px;
}




